*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#right_side{
    width: fit-content;
}
#section_4{
    display: flex;
    justify-content: space-between;
    border-top:1px solid black ;
    border-bottom: 1px solid black;
    height: 55px;
    align-items: center;
}
#section_3{
    height: 55px;
    align-items: center;
}
#align{
    padding-top: 10px;
}
.hamberger{
    height: 40px;
    width: 35px;

}
.Youtube_logo{
    height: 25px;
    margin-bottom:10px;
    margin-left: 10px;
}
#small{
    align-items: center;
    padding-top: 15px;
    padding-left: 25px;
}
.home_icon img{
    height: 40px;
    width: 40px;
    align-items: center;
}
#left_side{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    height: 25px;
    width: 25px;
}
body{
    overflow-y: scroll;
}
