/* make every thing in Robot font */
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* navigation styles  */
#nav-bar{
    width: max-content;
}
.hambarger{
    height: 30px;
    width: 30px;
}
#icon-items{
    display: flex;
    padding-left: 20px;
}
#youtube-logo{
    width: 80px;
    height: 30px;
    padding-left: 25px;
}
.item-icon{
    height: 35px;
    width: 35px;
    padding-right: 15px;
}
.icon-items{
    display: flex;
    align-items: center;
    padding: 5px;
    display: flex;
}
.navigation{
    padding: 10px;
}


body{
    display: flex;
}
.bluedot{
    height: 8px;
    width: 8px;
    padding-left: 10px;
    display: flex;
    align-items: end;
}

/* content page styles  */
#main-page{
    width:fit-content
}
#search-bar input{
    position: relative;
    width: 200px;
}
/* search bar styles  */
#search-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#searchb{
    display:flex;
}
.search-bar-menu{
    display:flex;
    width: 550px;
    height: 30px;
    justify-content: space-between;
    border: 1px solid grey;
}
.search-bar-menu span{
    padding: 5px;
}

.searchbar-icon{
    height: 30px;
    width: 40px;
}
#search-ic{
    border: 1px solid grey;
    background-color: grey;
}
#image-border{
    display: inline;
    /* border: 1px solid grey ;
    background-color: grey;
    padding-top: 5px; */
}
.other-icons{
    display: inline;
    align-items: end;
    padding-left: 100px;
}
/* catogories style */
.cat{
    border: 1px solid grey;
    background-color: darkgrey;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}
#catorgories img{
    height:31px;
}
#catorgories{
    display: flex;
    justify-content: space-evenly;
}
/* video blocks style  */
.videos{
    /* display: inline-block; */
    width:min-content;
    height: 244px;
    padding: 10px;
}
.descrption{
    padding: 20px;
}
.descrption1{
    font-weight: bolder;

}
.thumbnail{
    display: flex;
    align-content: flex-start;
}
#video-page{
    display: grid;
    grid-template-columns:  280px 280px 280px 280px;
    grid-template-rows:  280px 280px 280px 280px;

}