*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#right_side{
    width: fit-content;
}
#section_4{
    display: flex;
    justify-content: space-between;
    border-top:1px solid black ;
    border-bottom: 1px solid black;
    height: 55px;
    align-items: center;
}
#section_3{
    height: 55px;
    align-items: center;
}
#align{
    padding-top: 10px;
}
.hamberger{
    height: 40px;
    width: 35px;

}
.Youtube_logo{
    height: 25px;
    margin-bottom:10px;
    margin-left: 10px;
}
#small{
    align-items: center;
    padding-top: 15px;
    padding-left: 25px;
}
.home_icon img{
    height: 40px;
    width: 40px;
    align-items: center;
}
#left_side{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    height: 25px;
    width: 25px;
}
body{
    overflow-y: scroll;
}
.home_icon{
    margin-top: 20px;
}
.explore_icon{
    margin-top: 20px;
}
.shorts_icon{
    margin-top: 20px;
}
.subscription_icon{
    margin-top: 20px;
}
.library_icon{
    margin-top: 20px;
}
.history_icon{
    margin-top: 20px;
}
.video_icon{
    margin-top: 20px;
}
.watch_icon{
    margin-top: 20px;
}
.liked_icon{
    margin-top: 20px;
}
.show_icon{
    margin-top: 20px;
}
.subscription{
    margin-top: 20px;
}
.nadir_icon{
    margin-top: 10px;
}
.coke_icon{
    margin-top: 10px; 
    font-size: small;
}
.mkbhd{
    margin-top: 10px;
}
.figma{
    margin-top: 10px;
}
.atc{
    margin-top: 10px; 
    font-size: small;
}
.alux{
    margin-top: 10px;
}
#section_3{
    display: flex;
}
.search_icon img{
    height:"35px"; 
    width:"35px"; 
}
.create_1 button img{
    height: 25px;
    width: 25px;
}
/* .create_1 img{
    height:"35px"; 
    width:"35px";
} */
#button{
    height:35px; 
    padding: 10px 20px; 
    border-radius: 35px;
}
#button_1{
    height:35px; 
    padding: 10px; 
    border-radius: 35px;
}
#button_2{
    height:35px; 
    padding: 10px; 
    border-radius: 35px;
}
#section_5{
    display: flex; 
    justify-content: space-between;
}
#section_6{
    display: flex; 
    justify-content: space-between;
}
#section_7{
    display: flex; 
    justify-content: space-between;
}
.search_icon button, .search_icon img{
    height: 25px;
    width: 25px;
}

@media(max-width: 426px){
    #left_side{width: 120px}

    .Youtube_logo{
        height: 20px;
        margin-right: 30px;
    }

    .non{display: none;}

    #section_4{
        width: 300px;
    }

    #section_5, #section_6, #section_7{
        display: flex;
        flex-direction: column;
    }
}